html{
    background: #e3e3e3;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: black;
    border-top: 10px solid black;
    background: #fff;
}
h1{
    font-size: 3em;
    margin: 0;
}
h2{
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

a[href] {
    background-color: rgb(86, 97, 97);
}

img {
    max-width: 100%;
    height: auto
}

footer {
    font-family: cursive;
}

.sticky{
    background:blanchedalmond;
    position: sticky;
    top:0;
}

.img-container{
    height: 50px;;
    width: 100px;
    float:left;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 75px;
}
